<app-navbar></app-navbar>
<div class="contenedor">

  <mat-card class="card" *ngFor="let item of pacienteTurnos">
      <mat-card-header>
        <div mat-card-avatar style="background-image: url('{{item.paciente.img}}');background-size: cover;"></div>
        <mat-card-title>{{item.paciente.nombre}} {{item.paciente.apellido}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Email: </strong>{{item.paciente.email}}</p>
        <p><strong>Edad: </strong>{{item.paciente.edad}}</p>
        <p><strong>DNI: </strong>{{item.paciente.dni | dni}}</p>
        <p><strong>Obra social: </strong>{{item.paciente.obraSocial}}</p> 
      </mat-card-content>
      <hr>
      <h4>Turnos:</h4>
      <mat-card-content *ngFor="let turno of item.turnos | sliceHc, index as i">
        <p><strong>N°: </strong>{{ i + 1}}</p>
        <p><strong>Especialidad: </strong>{{turno.especialidad.especialidad}}</p>
        <p><strong>Fecha: </strong>{{turno.fecha}}</p>
        <p><strong>Hora: </strong>{{turno.horaInicio}}</p>
        <p><strong>Estado: </strong>{{turno.estadoTurno}}</p> 
        <button mat-raised-button color="primary" >Ver historia clínica</button>
        <hr>
      </mat-card-content>
    </mat-card>
    
</div>