<div class="contenedor">
    <mat-card class="tarjeta" [@routeAnimation]>
      <mat-card-title class="title">{{'especialista' | translate}}</mat-card-title>
      <mat-card-content>
      <form class="form" [formGroup]="form" >

        <mat-form-field>
          <mat-label>{{'nombre' | translate}}</mat-label>
          <input type="text" matInput placeholder="{{'nombre' | translate}}" formControlName="nombre">
          <mat-error *ngIf="form.controls['nombre'].hasError('required') && form.controls['nombre'].touched">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'nombre' | translate}} {{'requerido' | translate}}.
          </mat-error>
          <mat-error *ngIf="!form.controls['nombre'].hasError('minLength')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'nombre' | translate}} {{'corto' | translate}}.
          </mat-error>
          <mat-error *ngIf="!form.controls['nombre'].hasError('maxLength')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'nombre' | translate}} {{'largo' | translate}}.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'apellido' | translate}}</mat-label>
          <input type="text" matInput placeholder="{{'apellido' | translate}}" formControlName="apellido">
          <mat-error *ngIf="form.controls['apellido'].hasError('required') && form.controls['apellido'].touched">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'apellido' | translate}} {{'requerido' | translate}}.
          </mat-error>
          <mat-error *ngIf="!form.controls['apellido'].hasError('minLength')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'apellido' | translate}} {{'corto' | translate}}.
          </mat-error>
          <mat-error *ngIf="!form.controls['apellido'].hasError('maxLength')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'apellido' | translate}} {{'largo' | translate}}.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'edad' | translate}}</mat-label>
            <input type="number" matInput placeholder="{{'apellido' | translate}}" formControlName="edad">
            <mat-error *ngIf="form.controls['edad'].hasError('required') && form.controls['edad'].touched">
              <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
              {{'edad' | translate}} {{'requerido' | translate}}.
            </mat-error>
            <mat-error *ngIf="form.controls['edad'].hasError('min')">
              <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
              {{'edad' | translate}} {{'corto' | translate}}.
            </mat-error>
            <mat-error *ngIf="form.controls['edad'].hasError('max')">
              <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
              {{'edad' | translate}} {{'largo' | translate}}.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'id' | translate}}</mat-label>
            <input type="number" matInput placeholder="{{'id' | translate}}" formControlName="dni">
            <mat-error *ngIf="form.controls['dni'].hasError('required') && form.controls['dni'].touched">
              <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
              {{'id' | translate}} {{'requerido' | translate}}.
            </mat-error>
            <mat-error *ngIf="form.controls['dni'].hasError('min')">
              <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
              {{'id' | translate}} {{'corto' | translate}}.
            </mat-error>
            <mat-error *ngIf="form.controls['dni'].hasError('max')">
              <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
              {{'id' | translate}} {{'largo' | translate}}.
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="this.listaEspecialidades.length>0">
            <mat-label>{{'seleccione' | translate}}</mat-label>
            <mat-select (selectionChange)="seleccion($event.value)">
              <mat-option *ngFor="let auxespecialidad of listaEspecialidades;"
              [value]="auxespecialidad.id">{{auxespecialidad.especialidad | translate}}</mat-option>
            </mat-select>       
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" (click)="sumarEspecialidad()">{{'sumar' | translate}}</button>
            <button mat-raised-button color="warn" (click)="restarEspecialidad()">{{'eliminar' | translate}}</button>
          </div>
          
          <div>
            <h3 style="margin: 0;">{{'especialidades' | translate}}:</h3>
            <ul *ngFor="let miEspecialidad of especialidadesElegidas">{{miEspecialidad.especialidad | translate}}</ul>          
            
          </div>
          
        <mat-form-field>
          <mat-label>{{'agragarEspecialidad' | translate}}</mat-label>
          <input matInput [(ngModel)]="nuevaEspecialidad" [ngModelOptions]="{standalone: true}">
          <div>
            <button mat-raised-button color="primary" (click)="agregarEspecialidad()">{{'agragar' | translate}}</button>
          </div>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'correo' | translate}}</mat-label>
          <input type="mail" matInput placeholder="{{'correo' | translate}}" formControlName="email">
          <mat-error *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'correo' | translate}} {{'requerido' | translate}}.
          </mat-error>
          <mat-error *ngIf="form.controls['email'].hasError('email')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'formatoInvalido' | translate}}.
          </mat-error>
        </mat-form-field> 
        
        <mat-form-field>
            <mat-label>{{'imagen' | translate}} 1</mat-label>
            <ngx-mat-file-input placeholder="{{'imagen' | translate}}1" formControlName="imagen1" (change)="cargarImg(0)">
                <mat-icon ngxMatFileInputIcon>attach_file</mat-icon>
            </ngx-mat-file-input>
            <mat-error *ngIf="form.controls['imagen1'].hasError('required') && form.controls['imagen1'].touched">
              <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
              {{'imagen' | translate}} {{'requerido' | translate}}.
            </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>{{'pass' | translate}}</mat-label>
          <input type="password" matInput placeholder="{{'pass' | translate}}" formControlName="password">
          <mat-error *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'pass' | translate}} {{'requerido' | translate}}.
          </mat-error>
          <mat-error *ngIf="!form.controls['password'].hasError('minLength')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'pass' | translate}} {{'corto' | translate}}.
          </mat-error>
          <mat-error *ngIf="!form.controls['password'].hasError('maxLength')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'pass' | translate}} {{'largo' | translate}}.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'repetirPass' | translate}}</mat-label>
          <input type="password" matInput placeholder="{{'repetirPass' | translate}}" formControlName="password2">
          <mat-error *ngIf="form.controls['password2'].hasError('required') && form.controls['password2'].touched">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'repetirPass' | translate}} {{'requerido' | translate}}.
          </mat-error>
          <mat-error *ngIf="form.controls['password2'].hasError('minLength')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'repetirPass' | translate}} {{'corto' | translate}}.
          </mat-error>
          <mat-error *ngIf="form.controls['password2'].hasError('maxLength')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'repetirPass' | translate}} {{'largo' | translate}}.
          </mat-error>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="isChecked" [ngModelOptions]="{standalone: true}">Captcha</mat-checkbox>

        <ng-container  *ngIf="isChecked">
          <mat-form-field>
            <mat-label>{{'complete' | translate}} CAPTCHA: {{captchaCode}}</mat-label>
            <input matInput type="text" [myCaptcha]="captchaCode" (captchaCodeGenerated)="onCaptchaGenerador($event)"
            (captchaVerified)="onCaptchaVerificador($event)" [regenerate]="regenerate" [disabled]="isOk" placeholder="{{'ingrese' | translate}} captcha">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="verificar()">{{'verificar' | translate}}</button><br><br>
        </ng-container>

        <div class="button">
          <button type="button" [disabled]="form.invalid" mat-raised-button color="primary" (click)="submit()">{{'btnRegistrarse' | translate}}</button>
          <button type="button" routerLink="/bienvenida" mat-raised-button color="warn">{{'cancelar' | translate}}</button>
        </div>
  
      </form>
  
      </mat-card-content>
    </mat-card>
  </div>