<div class="contenedor">
  <mat-card class="tarjeta">
    <mat-card-title class="title">Iniciar sesión</mat-card-title>
    <mat-card-content>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">

      <mat-form-field>
        <mat-label>Correo electrónico</mat-label>
        <input type="mail" matInput placeholder="Correo electrónico" formControlName="email">
        <mat-error *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">
          <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
          El email es requerido.
        </mat-error>
        <mat-error *ngIf="form.controls['email'].hasError('email')">
          <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
          Formato email inválido.
        </mat-error>
      </mat-form-field>    

      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="Contraseña" formControlName="password" max="7">
        <mat-error *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">
          <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
          La password es requerido.
        </mat-error>
        <mat-error *ngIf="form.controls['password'].hasError('minlength')">
          <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
          Mínimo 6 caracteres.
        </mat-error>
        <mat-error *ngIf="form.controls['password'].hasError('maxlength')">
          <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
          Máximo 8 caracteres.
        </mat-error>
      </mat-form-field>


      <div class="button">
        <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Ingresar</button>
        <button type="button" routerLink="/bienvenida" mat-raised-button color="warn">Cancelar</button>
        
      </div>

    </form>

    </mat-card-content>
  </mat-card>


  <mat-card class="tarjeta2">
    <mat-card-title class="title2">Usuarios</mat-card-title>
    <mat-card-content class="usuarios" (click)="autoCompletar('administrador')">
      <img class="imagen" src="../../../../assets/acceso-rapido/admin.jpg" alt="administrador">
      <p>Administrador</p>
    </mat-card-content>
    <mat-card-content class="usuarios" (click)="autoCompletar('paciente1')">
      <img class="imagen" src="../../../../assets/acceso-rapido/paciente-1.jpg" alt="paciente 1">
      <p>Paciente 1</p>
    </mat-card-content>
    <mat-card-content class="usuarios" (click)="autoCompletar('paciente2')">
      <img class="imagen" src="../../../../assets/acceso-rapido/paciente-2.jpg" alt="paciente 1">
      <p>Paciente 2</p>
    </mat-card-content>
    <mat-card-content class="usuarios" (click)="autoCompletar('paciente3')">
      <img class="imagen" src="../../../../assets/acceso-rapido/paciente-3.jpg" alt="paciente 1">
      <p>Paciente 3</p>
    </mat-card-content>
    <mat-card-content class="usuarios" (click)="autoCompletar('especialista1')">
      <img class="imagen" src="../../../../assets/acceso-rapido/especialista-1.jpg" alt="paciente 1">
      <p>Especialista 1</p>
    </mat-card-content>
    <mat-card-content class="usuarios" (click)="autoCompletar('especialista2')">
      <img class="imagen" src="../../../../assets/acceso-rapido/especialista-2.jpg" alt="paciente 1">
      <p>Especialista 2</p>
    </mat-card-content>
  </mat-card>
</div>