.tarjeta {
  background-color: azure;
  min-width: 400px;
  max-width: 600px;
}

.tarjeta2 {
  background-color:floralwhite;
  min-width: 100px;
  max-width: 170px;
}

.usuarios{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  margin: 5px 0;
}

.contenedor {
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{  
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.title2{  
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.imagen{
  width: 20%;
  border-radius: 10%;
}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.error {
  // padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

mat-form-field{
  background-color: azure;
}

.button {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button{
  cursor: pointer;
  margin-bottom: 10px;
}
