<app-navbar></app-navbar>

<mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<table mat-table [dataSource]="DataTurnoEspecialistas" class="mat-elevation-z8">

    <!-- fecha -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>
  
    <!-- inicio Column -->
    <ng-container matColumnDef="inicio">
      <th mat-header-cell *matHeaderCellDef> Inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.inicio}} </td>
    </ng-container>
  
    <!-- fin Column -->
    <ng-container matColumnDef="fin">
      <th mat-header-cell *matHeaderCellDef> Fin </th>
      <td mat-cell *matCellDef="let element"> {{element.fin}} </td>
    </ng-container>
  
    <!-- duracion Column -->
    <ng-container matColumnDef="duracion">
      <th mat-header-cell *matHeaderCellDef> Duracion </th>
      <td mat-cell *matCellDef="let element"> {{element.duracion}} </td>
    </ng-container>

    <!-- paciente Column -->
    <ng-container matColumnDef="paciente">
        <th mat-header-cell *matHeaderCellDef> Paciente </th>
        <td mat-cell *matCellDef="let element"> {{element.paciente}} </td>
    </ng-container>

    <!-- especialista Column -->
    <ng-container matColumnDef="especialista">
        <th mat-header-cell *matHeaderCellDef> Especialista </th>
        <td mat-cell *matCellDef="let element"> {{element.especialista}} </td>
    </ng-container>

    <!-- especialidad Column -->
    <ng-container matColumnDef="especialidad">
        <th mat-header-cell *matHeaderCellDef> Especialidad </th>
        <td mat-cell *matCellDef="let element">{{element.especialidad}}</td>
    </ng-container>

    <!-- estado Column -->
    <ng-container matColumnDef="estado" >
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element" myEstado> {{element.estado | uppercase}} </td>
    </ng-container>

    <!-- accion Column -->
    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef> Acción </th>
      <td  mat-cell *matCellDef="let element">
        
        <!-- aceptar -->
        <button mat-icon-button title="aceptar" class="aceptar" 
        *ngIf="element.estado != 'Aceptado'
            && element.estado != 'Realizado'
            && element.estado != 'Cancelado'
            && element.estado != 'Rechazado'
            && element.estado != 'Finalizado'" (click)="aceptarTurno(element.id)" [disabled]="element.estado == 'Aceptado'">
            <mat-icon>check_circle</mat-icon>
          </button>

        <!-- cancelar -->
        <button mat-icon-button title="Cancelar" class="cancelar" 
        *ngIf="element.estado != 'Aceptado'
        && element.estado != 'Realizado'
        && element.estado != 'Rechazado'
        && element.estado != 'Cancelado'" (click)="cancelarTurno(element.id)" [disabled]="element.estado == 'Cancelado'">
            <mat-icon>cancel</mat-icon>
        </button>

        <!-- rechazar -->
        <button mat-icon-button title="rechazar" class="rechazar" 
        *ngIf="element.estado != 'Aceptado'
            && element.estado != 'Realizado'
            && element.estado != 'Rechazado'
            && element.estado != 'Cancelado'" (click)="rechazarTurno(element.id)" [disabled]="element.estado == 'Rechazado'">
            <mat-icon>dangerous</mat-icon>
          </button>

        <!-- finalizar -->
        <button mat-icon-button title="finalizar" class="finalizar" 
        *ngIf="element.estado == 'Realizado'
        && element.diagnosticoEspecialista
        && element.comentarioEspecialista" (click)="finalizarTurno(element.id)" [disabled]="element.estado == 'Finalizado'">
            <mat-icon>save</mat-icon>
          </button>

        <!-- escribir comentario y diagnostico -->
        <button mat-icon-button title="edit" class="edit" 
        *ngIf="element.estado == 'Aceptado'
        && !element.reseniaEspecialista
        && !element.comentarioEspecialista" (click)="editarComentarioDiagnostico(element.id)">
            <mat-icon>edit_square</mat-icon>
          </button>

        <!-- Ver reseña/comentario  -->
        <button mat-icon-button title="comentario" class="comentario" 
        *ngIf="element.reseniaEspecialista
            || element.comentarioEspecialista
            || element.comentarioPaciente
            || element.comentarioAdministrador" (click)="mostrarResenia(element)">
            <mat-icon>chat-square-text</mat-icon>
        </button>

        <!-- Ver diagnóstico -->
        <button mat-icon-button title="diagnostico" class="diagnostico" 
        *ngIf="element.diagnosticoEspecialista != ''" (click)="mostrarDiagnostico(element)" [disabled]="element.estado == 'Finalizado'">
            <mat-icon>file-earmark-text</mat-icon>
        </button>

        <!-- crear hc -->
        <button mat-icon-button title="historia-crear" class="historia-crear" 
        *ngIf="!element.historiaClinica && element.estado == 'Realizado'" (click)="crearHistoriaClinica(element.id)" (click)="this.mostrarCrear = !this.mostrarCrear">
            <mat-icon>checkbook</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- h clinica Column -->
    <ng-container matColumnDef="hc">
        <th mat-header-cell *matHeaderCellDef> H. Clinica </th>
        <td  mat-cell *matCellDef="let element">
          <button mat-icon-button title="ver" class="historia" *ngIf="element.historiaClinica;else noTieneHistoriaClinica" (click)="mostrarHistoriaClinica(element.id)">
            <mat-icon>visibility</mat-icon>
          </button>
          <ng-template #noTieneHistoriaClinica>
            N/A
          </ng-template>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="usuariosColumnas"></tr>
    <tr mat-row *matRowDef="let row; columns: usuariosColumnas;"></tr>
  </table>

  <app-cargar-historia-clinica *ngIf="turnoSeleccionado != null && mostrarCrear" [turno]="turnoSeleccionado"></app-cargar-historia-clinica>

