.mat-toolbar{
    background-color: cornflowerblue;
    justify-content: space-between;
    color: white;
  }
  .mat-button{
     color: white;
  }
  .spacer{
    flex: 1 1 auto;
  }

  span img{
    width: 5%;
    margin-right: 20px;
}