<mat-toolbar color="primary">
    <span><img class="logo" src="../../../../assets/logo.png" alt="">Clínica</span>
    <!-- <div class="spacer"></div> -->
    <a mat-button routerLink="/bienvenida">Home</a>
    <a *ngIf="usuarioActual.tipo == 'administrador'" mat-button routerLink="/seccion-usuarios">Sección usuarios</a>
    

    <span *ngIf="currentUser">|</span>

    <a *ngIf="currentUser" ng mat-button>{{userCurrent}}</a>
    <mat-icon *ngIf="currentUser" (click)="logout()" style="cursor: pointer;" aria-hidden="false" aria-label="logout icon" fontIcon="logout"></mat-icon>
    <!-- <span *ngIf="currentUser" class="material-symbols-outlined" (click)="logout()" >logout</span> -->
</mat-toolbar>