table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.cancelar{
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}

.comentario{
  border: none;
  background: none;
  color: rgb(107, 20, 169);
  cursor: pointer;
}


.cancelar:disabled{
  border: none;
  background: none;
  color: #818181;
  cursor: none;
}