.tarjeta {
    background-color: azure;
    min-width: 400px;
    max-width: 600px;
  }
  
  .contenedor {
    // height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }