table {
  width: 100%;
}

.contenedor {
  // height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.tarjeta {
  background-color: azure;
}

.carta{
  width: 30%;
  height: 350px;
  background-color: cornsilk;
  margin: 5px;
}

.title{  
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.aceptar{
  border: none;
  background: none;
  color: green;
  cursor: pointer;
}

.rechazar{
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}

.aceptar:disabled{
  border: none;
  background: none;
  color: #818181;
  cursor: none;
}

.rechazar:disabled{
  border: none;
  background: none;
  color: #818181;
  cursor: none;
}