<app-navbar></app-navbar>
<div class="contenedor">

  <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar *ngIf="usuario.tipo == 'paciente'" style="background-image: url('{{img2}}');background-size: cover;"></div>
        <mat-card-title>{{usuario.nombre}} {{usuario.apellido}}</mat-card-title>
        <mat-card-subtitle>{{usuario.tipo | uppercase}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{usuario.img}}" alt="perfil">
      <mat-card-content>
          <p><strong>Email: </strong>{{usuario.email}}</p>
          <p><strong>Edad: </strong>{{usuario.edad}}</p>
          <p><strong>DNI: </strong>{{usuario.dni}}</p>
          <p *ngIf="usuario.tipo == 'paciente'"><strong>Obra social: </strong>{{obraSocial}}</p>
          <p *ngIf="usuario.tipo == 'especialista'"><strong>Especialidad/es: </strong>
          <ul *ngIf="usuario.tipo == 'especialista'" >
              <li *ngFor="let e of especialidades">{{e.especialidad}}</li>
          </ul>
  
      </mat-card-content>
      <mat-card-actions *ngIf="usuario.tipo == 'especialista'">
  
        <button mat-raised-button color="primary" (click)="this.mostrarHorarios = !this.mostrarHorarios">Mis horarios</button>
        
      </mat-card-actions>
    </mat-card>
    <app-horarios *ngIf="this.mostrarHorarios == true" (eventoSalir)="this.mostrarHorarios = false"></app-horarios>
</div>