<div class="contenedor">
    <mat-card class="tarjeta">
      <mat-card-title class="title">{{'administrador' | translate}}</mat-card-title>
      <mat-card-content>
      <form class="form" [formGroup]="form" (ngSubmit)="submit()">

        <mat-form-field>
          <mat-label>{{'nombre' | translate}}</mat-label>
          <input type="text" matInput placeholder="{{'nombre' | translate}}" formControlName="nombre">
          <mat-error *ngIf="form.controls['nombre'].hasError('required') && form.controls['nombre'].touched">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'nombre' | translate}} {{'requerido' | translate}}.
          </mat-error>
          <mat-error *ngIf="form.controls['nombre'].hasError('minLength')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'nombre' | translate}} {{'corto' | translate}}.
          </mat-error>
          <mat-error *ngIf="form.controls['nombre'].hasError('maxLength')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'nombre' | translate}} {{'largo' | translate}}.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'apellido' | translate}}</mat-label>
          <input type="text" matInput placeholder="{{'apellido' | translate}}" formControlName="apellido">
          <mat-error *ngIf="form.controls['apellido'].hasError('required') && form.controls['apellido'].touched">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'apellido' | translate}} {{'requerido' | translate}}.
          </mat-error>
          <mat-error *ngIf="form.controls['apellido'].hasError('minLength')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'apellido' | translate}} {{'corto' | translate}}.
          </mat-error>
          <mat-error *ngIf="form.controls['apellido'].hasError('maxLength')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'apellido' | translate}} {{'largo' | translate}}.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'edad' | translate}}</mat-label>
            <input type="number" matInput placeholder="{{'edad' | translate}}" formControlName="edad">
            <mat-error *ngIf="form.controls['edad'].hasError('required') && form.controls['edad'].touched">
              <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
              {{'edad' | translate}} {{'requerido' | translate}}.
            </mat-error>
            <mat-error *ngIf="form.controls['edad'].hasError('min')">
              <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
              {{'edad' | translate}} {{'corto' | translate}}.
            </mat-error>
            <mat-error *ngIf="form.controls['edad'].hasError('max')">
              <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
              {{'edad' | translate}} {{'largo' | translate}}.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'id' | translate}}</mat-label>
            <input type="number" matInput placeholder="{{'id' | translate}}" formControlName="dni">
            <mat-error *ngIf="form.controls['dni'].hasError('required') && form.controls['dni'].touched">
              <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
              {{'id' | translate}} {{'requerido' | translate}}.
            </mat-error>
            <mat-error *ngIf="form.controls['dni'].hasError('min')">
              <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
              {{'id' | translate}} {{'corto' | translate}}.
            </mat-error>
            <mat-error *ngIf="form.controls['dni'].hasError('max')">
              <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
              {{'id' | translate}} {{'largo' | translate}}.
            </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>{{'correo' | translate}}</mat-label>
          <input type="mail" matInput placeholder="{{'correo' | translate}}" formControlName="email">
          <mat-error *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'correo' | translate}} {{'requerido' | translate}}.
          </mat-error>
          <mat-error *ngIf="form.controls['email'].hasError('email')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'formatoInvalido' | translate}}.
          </mat-error>
        </mat-form-field> 
        
        <mat-form-field>
            <mat-label>{{'imagen' | translate}} 1</mat-label>
            <ngx-mat-file-input placeholder="{{'formatoInvalido' | translate}}1" formControlName="imagen1" (change)="cargarImg(0)">
                <mat-icon ngxMatFileInputIcon>attach_file</mat-icon>
            </ngx-mat-file-input>
            <mat-error *ngIf="form.controls['imagen1'].hasError('required') && form.controls['imagen1'].touched">
              <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
              {{'imagen' | translate}} {{'requerido' | translate}}.
            </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>{{'pass' | translate}}</mat-label>
          <input type="password" matInput placeholder="{{'pass' | translate}}" formControlName="password">
          <mat-error *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'pass' | translate}} {{'requerido' | translate}}.
          </mat-error>
          <mat-error *ngIf="form.controls['password'].hasError('minLength')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'pass' | translate}} {{'corto' | translate}}.
          </mat-error>
          <mat-error *ngIf="form.controls['password'].hasError('maxLength')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'pass' | translate}} {{'largo' | translate}}.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'repetirPass' | translate}}</mat-label>
          <input type="password" matInput placeholder="{{'repetirPass' | translate}}" formControlName="password2">
          <mat-error *ngIf="form.controls['password2'].hasError('required') && form.controls['password2'].touched">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'repetirPass' | translate}} {{'requerido' | translate}}.
          </mat-error>
          <mat-error *ngIf="form.controls['password2'].hasError('minLength')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'repetirPass' | translate}} {{'corto' | translate}}.
          </mat-error>
          <mat-error *ngIf="form.controls['password2'].hasError('maxLength')">
            <mat-icon><span class="material-symbols-outlined">report</span></mat-icon>
            {{'repetirPass' | translate}} {{'largo' | translate}}.
          </mat-error>
        </mat-form-field>
  
  
        <div class="button">
          <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">{{'btnRegistrarse' | translate}}</button>
          <button type="button" routerLink="/bienvenida" mat-raised-button color="warn">{{'cancelar' | translate}}</button>
        </div>
  
      </form>
  
      </mat-card-content>
    </mat-card>
  </div>