table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .cancelar{
    border: none;
    background: none;
    color: red;
    cursor: pointer;
  }
  
  .cancelar:disabled{
    border: none;
    background: none;
    color: #818181;
    cursor: none;
  }

  .encuesta{
    border: none;
    background: none;
    color: rgb(228, 122, 9);
    cursor: pointer;
  }
  
  .encuesta:disabled{
    border: none;
    background: none;
    color: #818181;
    cursor: none;
  }
  

  .comentario{
    border: none;
    background: none;
    color: rgb(107, 20, 169);
    cursor: pointer;
  }
  
  .comentario:disabled{
    border: none;
    background: none;
    color: #818181;
    cursor: none;
  }


  .diagnostico{
    border: none;
    background: none;
    color: rgb(0, 92, 138);
    cursor: pointer;
  }
  
  .diagnostico:disabled{
    border: none;
    background: none;
    color: #818181;
    cursor: none;
  }

  .calificar{
    border: none;
    background: none;
    color: rgb(138, 138, 0);
    cursor: pointer;
  }
  
  .calificar:disabled{
    border: none;
    background: none;
    color: #818181;
    cursor: none;
  }